html, body {
  margin: 0;
  padding: 0;
  font-family: var(--brand-font-family), serif;
  background-color: var(--brand-background-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

